body, html {
  padding: 0;
  margin: 0;
}

.remove-enter {
  opacity: 0.01;
}

.remove-enter.remove-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.remove-leave {
  opacity: 1;
}

.remove-leave.remove-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}